.btn {
  display: inline-block;
  vertical-align: top;
  position: relative;
  background-color: transparent;
  font-size: 15px;
  line-height: 91px;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  color: $main-white-color;
  height: 91px;
  width: 100%;
  max-width: 368px;
  text-align: center;
  @include main-font2();
  font-weight: 900;

  span {
    position: relative;
  }
  canvas {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &_3 {
    line-height: 83px;
  }
}

@media (min-width: $tablet-landscape) {
  .btn {


  }
}
