.btn {
  display: inline-block;
  vertical-align: top;
  position: relative;
  background-color: transparent;
  font-size: 14px;
  line-height: 78px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: $main-white-color;
  height: 70px;
  width: 100%;
  text-align: center;
  @include main-font7();

  span {
    position: relative;
  }
  canvas {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  &_1,
  &_2,
  &_3 {
    width: 280px;
  }
  &_3 {
    line-height: 60px;
  }
}

@media (min-width: $tablet-portrait) {

  .btn {
    font-size: 15px;
    line-height: 94px;
    height: 91px;

    &_1,
    &_2,
    &_3 {
      width: 368px;
    }
    &_3 {
      line-height: 83px;
    }
  }
}
