.btn {
  display: inline-block;
  vertical-align: top;
  position: relative;
  background-color: transparent;
  font-size: 13px;
  line-height: 78px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: $main-white-color;
  height: 70px;
  width: 100%;
  text-align: center;
  @include main-font7();

  span {
    position: relative;
  }
  canvas {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  &_1,
  &_2,
  &_3 {
    width: 280px;
  }
  &_3 {
    line-height: 60px;
  }
}
.btn-main {
  display: inline-block;
  vertical-align: top;
  height: 45px;
  padding: 0 15px;
  border: 2px solid $main-blue-color;
  font-size: 13px;
  color: $main-text-color;
  line-height: 43px;
  text-transform: uppercase;
  @include main-font7();
  transition: background .3s, color .3s;

  &:hover {
    background: $main-blue-color;
    color: $main-white-color;
  }
  &_2 {
    height: auto;
    padding: 1px 17px 0;
    border: 2px solid $main-white-color;
    border-radius: 20px;
    font-size: 14px;
    line-height: 25px;
    color: $main-white-color;

    &:hover {
      background: $main-white-color;
      color: $main-blue-color;
    }
  }
}
.btn-back {
  position: absolute;
  left: 15px;
  bottom: -50px;
  display: inline-block;
  padding-left: 40px;
  font-size: 12px;
  text-transform: uppercase;
  color: $main-white-color;
  @include main-font7();

  &:before {
    position: absolute;
    top: 2px;
    left: 0;
    width: 25px;
    height: 6px;
    background: url(../img/arrow-back.png) no-repeat;
    background-size: contain;
    @include transition(transform, .3, 0);
    content: '';
  }
  &:hover {

    &:before {
      transform: translateX(-3px);
    }
  }
}

@media (min-width: $tablet-portrait) {

  .btn {
    font-size: 15px;
    line-height: 94px;
    height: 91px;

    &_1,
    &_2,
    &_3 {
      width: 368px;
    }
    &_3 {
      line-height: 83px;
    }
  }
  .btn-main {
    height: 54px;
    padding: 0 30px;
    font-size: 14px;
    line-height: 52px;

    &_2 {
      height: auto;
      padding: 1px 17px 0;
      line-height: 25px;
    }
  }
}

@media (min-width: $desktop-wide) {

  .btn-back {
    top: 3px;
    bottom: auto;
    left: -279px;
  }
}
