
.case-single {
  padding-top: 40px;
  margin-bottom: 40px;

  h2 {
    margin-bottom: 16px;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: -0.7px;
    @include main-font7();
  }
  &__text {

    p {
      margin-bottom: 30px;
      font-size: 16px;
      line-height: 26px;
      text-align: justify;
      @include main-font1();
      letter-spacing: -0.2px;
    }
    strong {
      display: block;
      margin-bottom: 40px;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: -0.2px;
      @include main-font2();
    }
  }
  &__testimonials {
    padding-top: 5px;

    img {
      display: block;
      width: 100%;
      margin-bottom: 40px;
    }
  }
  &__testimonials-wrap {
    border: 2px solid $main-blue-color;
    box-shadow: 0 4px 10px 0 rgba(1, 1, 1, 0.08);
    padding: 20px 15px;

    h2 {
      margin-bottom: 27px;
    }
  }
  &__testimonials-item {
    margin-bottom: 34px;
    padding-bottom: 31px;
    border-bottom: 1px solid $main-border-color;

    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
    }
    blockquote {
      margin: 0;
      margin-bottom: 8px;
      font-size: 18px;
      line-height: 26px;
      letter-spacing: -0.5px;
      @include main-font6();
    }
    span {
      position: relative;
      display: block;
      padding-left: 55px;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -0.3px;
      text-transform: uppercase;
      @include main-font7();

      &:before {
        @include absoluteCenterY();
        left: 0;
        height: 2px;
        width: 40px;
        background: $main-blue-color;
        content: '';
      }
    }
  }
}

@media (min-width: $tablet-portrait) {

  .case-single {

    .site__centered {
      display: flex;
      justify-content: space-between;
    }

    &__text {
      display: inline-block;
      vertical-align: top;
      width: 49%;
      max-width: 470px;
    }
    &__testimonials {
      display: inline-block;
      vertical-align: top;
      width: 49%;
      max-width: 570px;
    }
  }
}

@media (min-width: $tablet-landscape) {



}

@media (min-width: $desktop) {

  .case-single {
    padding-top: 115px;
    margin-bottom: 120px;

    &__text {

      p {
        font-size: 18px;
        line-height: 28px;
      }
      strong {
        margin-bottom: 57px;
        font-size: 20px;
        line-height: 30px;
      }
    }
    &__testimonials {

      img {
        margin-bottom: 63px;
      }
    }
    &__testimonials-wrap {
      padding: 54px 60px 20px;
    }
    &__testimonials-item {

      blockquote {
        font-size: 20px;
        line-height: 28px;
      }
      span {
        line-height: 28px;
      }
    }
  }
}

@media (min-width: $desktop-wide) {

}
