
.patient {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 99px;

  &__text {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    max-width: 460px;
    padding-top: 93px;

    p {
      font-size: 24px;
      line-height: 36px;
      color: $main-text-color;
      letter-spacing: 0;
      @include main-font5();
    }
  }
  &__profit {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-top: -186px;
    min-height: 462px;
    width: 47.9%;
    padding: 77px 0 79px 126px;
    color: $main-white-color;
    @include main-font2();
    font-weight: 900;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      background: url(../img/patient-bg.png) no-repeat;
      background-size: contain;
      content: '';
    }
    > span {
      position: relative;
      display: block;
      margin-bottom: 23px;
      font-size: 18px;
      text-transform: uppercase;
      letter-spacing: -0.6px;
    }
    h2 {
      position: relative;
      left: -1px;
      margin-bottom: 36px;
      font-size: 48px;
      text-transform: uppercase;
      line-height: 46px;
      font-weight: 900;
    }
    .btn {
      left: -127px;
      margin-bottom: 78px;
    }
  }
}

@media (min-width: $tablet-portrait) {



}

@media (min-width: $tablet-landscape) {



}

@media (min-width: $desktop) {



}
